@import './vars';

html,
body {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  background: $white;
  -webkit-font-smoothing: antialiased;
  font-size: $base-px;
  color: $slate;
  font-family: $base-font;
}
::-webkit-scrollbar {
  display: none;
}
