$white: #FFF;
$black: #000;
$west: #035299;
$slate: #8597A4;
$shadow: rgba(128,128,128,0.5);
$podd-bg: #0070c9;
$podd-border: #07c;
$bq-border: green;
$particles-bg: #181b1e;
$twitter: #1DA1F2;
$no-color: rgba(0,0,0,0);

$base-px: 16px;

$base-font: Quicksand;
$code-font: "Dejavu Sans Mono", Monaco, "Courier New", monospace;