@font-face {
  font-family: 'Dejavu Sans Mono';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/DSM/DejaVuSansMono-webfont.eot'),
    url('/fonts/DSM/DejaVuSansMono-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/DSM/DejaVuSansMono-webfont.woff') format('woff'),
    url('/fonts/DSM/DejaVuSansMono-webfont.ttf') format('truetype'),
    url('/fonts/DSM/DejaVuSansMono-webfont.svg#dejavu_sans_monobook')
      format('svg');
}
