<link href="/fonts/dejavusansmono/stylesheet.css" rel="stylesheet" type="text/css" media="all">
<link href="/css/index.css" rel="stylesheet" type="text/css" media="all">
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.14/jquery.scrollify.min.js"></script>
<%= _prism %>
<%= _mathjax %>