@import '../base/vars';

.login {
  position: relative;
}

.next {
  height: 1.75em;
  width: 1.75em;
  background: $white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -3em;
  transform: translatey(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .arrow {
    margin: 0;
    padding: 0;
    background: $mail-bg;
    width: 35%;
    height: 15%;
  }

  .arrow-head {
    margin: 0;
    padding: 0;
    content: '';
    width: 0;
    height: 0;
    border-top: 0.35em solid transparent;
    border-bottom: 0.35em solid transparent;
    border-left: 0.45em solid $mail-bg;
  }

  .double-bounce1,
  .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $white;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    animation: sk-bounce 2s infinite ease-in-out;
  }

  .double-bounce2 {
    animation-delay: -1s;
  }

  @keyframes sk-bounce {
    0%,
    100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  }
}
