@import '../base/vars';

input:not([type='file']) {
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.2em;
  font-size: 0.8em;
  outline: none;
  background: transparent;
  padding: 0.25em 0.5em;
  width: 15em;
  transition: 0.2s;
  color: $white;

  &.wrong,
  &.wrong:focus {
    border-color: $shell-err;
  }

  &.success,
  &.success:focus {
    border-color: $shell-known;
  }

  &:last-of-type {
    margin-top: 0.5em;
  }

  &:focus {
    border-color: $white;
    transition: 0.2s;
  }
}
