$fn: #ae81ff;
$def: palevioletred;
$call: #0070c9;
$fs: #fd971f;
$blk: burlywood;
$cmt: default;
$op: paleturquoise;
$kw: #69b7eb;
$mod: #e6db74;
$method: #ff6961;

pre[class*='language-'] {
  .fn {
    color: $fn;
  }
  .def {
    color: $def;
  }
  .call {
    color: $call;
  }
  .fs {
    color: $fs;
  }
  .blk {
    color: $blk;
  }
  .cmt {
    color: $cmt;
    opacity: 0.5;
  }
  .op {
    color: $op;
  }
  .kw {
    color: $kw;
  }
  .mod {
    color: $mod;
  }
  .method {
    color: $method;
  }
}
