@import '../base/vars';

main {
  position: relative;
  width: 25em;
  max-width: 85vw;
  height: 12.3em;
  max-height: 45vw;
  padding: 1em;
  padding-top: 2em;
  box-shadow: 1px 0 0 rgba($shell-shadow, 0.5),
    -1px 0 0 rgba($shell-shadow, 0.5), 0 1px 0 rgba($shell-shadow, 0.5),
    0 -1px 0 rgba($shell-shadow, 0.5), 0 3px 13px rgba(26, 27, 34, 0.5);
  border-radius: 0.2em;
  span {
    line-height: 1.25em;
  }
  pre {
    margin: 0;
    font-size: inherit;
    font-family: inherit;
  }
  .shell {
    color: $shell-cmd;
    font-family: $shell-font;
    overflow-x: scroll;
  }
  .tab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    font-size: 0.5em;
    text-align: center;
    border-bottom: 1px solid rgba($shell-tab-shadow, 0.7);
    font-family: $system-font;
    color: $white;
    .crystal-logo {
      width: 2.1em;
      height: 2.1em;
      line-height: 2.1em;
      vertical-align: middle;
      cursor: move;
      padding: 0;
      margin: 0;
      margin-top: -0.1em;
      padding-right: 0.5em;
    }
  }
  .prompt {
    color: $shell-prompt;
    float: left;
  }
  .dir {
    color: $shell-dir;
  }
  .branch {
    color: $shell-branch;
  }
  .known {
    color: $shell-known;
  }
  .unknown {
    color: $shell-err;
    font-weight: bold;
  }
  .inner {
    color: $shell-inner;
  }
  .emp {
    color: $shell-emp;
  }
  .err {
    color: $shell-err;
  }
  .mtd {
    color: $shell-mtd;
  }
  .path {
    text-decoration: underline;
  }
  .shadow-slash {
    &::before {
      content: '/';
      color: $shell-branch;
    }
  }
}

.mobile-path-selector {
  width: 100%;
  max-width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0.5em 0 0.6em;
  transform: translateY(5em);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
  &.finally {
    transform: translateY(0);
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  div.path {
    display: inline;
    background: $material-dark;
    color: $white;
    font-size: 0.7em;
    margin-left: 0.75em;
    padding: 0.25em 0.5em;
    cursor: pointer;
    &.back {
      background: rgba($material-dark, 0.5);
    }
    &:first-of-type {
      margin-left: calc(0.6em/0.7);
    }
    &:last-of-type {
      margin-right: calc(0.6em/0.7);
    }
  }
}
