@import '../base/vars';

pre {
  .typed-cursor {
    animation: none;
    color: $shell-prompt;
    line-height: 1.25em;
    text-decoration: underline;
    vertical-align: top;

    &.typed-cursor--blink {
      animation: blink 1s step-start 0s infinite;
    }
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
