.center-display {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 0;
}

.text-center {
  display: inherit;
  text-align: center;
}

.hidden {
  display: none;
}
