<p>
  <% ABOUT[:languages].each do |lang, ext| %>
  <span class="language">
    <span class="color <%= ext %>"></span><%= lang %>
  </span>
  <% end %>
</p>
<p>
  <%= ABOUT[:experiences][render_lang] %>
</p>
<p>
  <%= generate_about_hobbies(render_lang, apple?) %>
</p>
