<% LINKS.each do |link| %>
<p>
<span class="mr">
    <% if link[:emoji].starts_with?("http") %>
      <img class="emoji" src="<%= link[:emoji] %>" />
    <% else %>
      <%= Util::Emoji.render link[:emoji], native_display: apple %>
    <% end %>
</span>
  <quote>
    <a href="<%= link[:link] %>"><%= link[:title][render_lang] %></a>
  </quote>
  <% if link === LINKS.last? %>
  <br />
  <small><%= generate_tail(render_lang, mobile) %></small>
  <% end %>
</p>
<% end %>
