<% LINKS.each do |link| %>
<p>
  <%= Util::Emoji.render(link[:emoji], 
                         wrap_in: {"<span class=\"emoji\">", "</span>"},
                         native_display: apple) %>
  <quote>
    <a href="<%= link[:link] %>"><%= link[:title][render_lang] %></a>
  </quote>
  <% if link === LINKS.last? %>
  <br />
  <small><%= generate_tail(render_lang, mobile) %></small>
  <% end %>
</p>
<% end %>
