<% PROJECTS.each do |project| %>
<p>
  <span class="emoji"><%= HTTP::Emoji.render project[:emoji], raw?: apple? %></span>
  <a href="<%= project[:link] %>"><%= project[:title] %></a>
  <quote>
    <%= project[:desc] %>
  </quote>
</p>
<% end %>
