<% PROJECTS.each do |project| %>
<p <% if project[:latest]? %> class="side-text project-latest" <% end %>>
  <span class="emoji"><%= Util::Emoji.render project[:emoji], native_display?: apple? %></span>
  <a href="<%= project[:link] %>"><%= project[:title] %></a>
  <quote>
    <%= project[:desc][render_lang] %>
  </quote>
</p>
<% end %>
