<% WORK.each do |opp| %>
<p
  <% if opp[:first_latest]? %>
    class="side-text work-latest"
  <% elsif opp[:first_previous]? %>
    class="side-text work-previous"
  <% end %>
>
  <span><%= opp[:title] %></span>
  <quote>
    <%= opp[:desc][render_lang] %>
  </quote>
</p>
<% end %>
