.center-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 0;
}
.text-center {
  text-align: center;
  display: inherit;
}
.hidden {
  display: none;
}
