@import '../base/vars';

$col-padding: 2em;
$sub-color: #444;

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: $mail-bg;
  font-family: $code-font;
  user-select: none;
  position: fixed;
  overflow: scroll;
}

a,
a:hover,
a:active,
a:visited {
  color: $white;
}

.col {
  height: 100%;
  margin-left: $col-padding;

  &:first-of-type {
    margin-left: 0;
  }

  div.recipient {
    margin-top: 0;
    position: relative;
    overflow: visible;

    input {
      width: calc(100% - 5em);
    }

    .next {
      height: 1.75em;
      width: 1.75em;
      background: $white;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      right: 0;
      bottom: -0.5em;
      transform: translatey(-50%);
      margin: 0;
      margin-top: 0.125em;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .arrow {
        margin: 0;
        padding: 0;
        background: $mail-bg;
        width: 35%;
        height: 15%;
      }

      .arrow-head {
        margin: 0;
        padding: 0;
        content: '';
        width: 0;
        height: 0;
        border-top: 0.35em solid transparent;
        border-bottom: 0.35em solid transparent;
        border-left: 0.45em solid $mail-bg;
      }

      .double-bounce1,
      .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $white;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;

        animation: sk-bounce 2s infinite ease-in-out;
      }

      .double-bounce2 {
        animation-delay: -1s;
      }

      @keyframes sk-bounce {
        0%,
        100% {
          transform: scale(0);
        }
        50% {
          transform: scale(1);
        }
      }
    }
  }

  & > div.title {
    animation: bounceInLeft 0.5s;
  }

  & > div:not(.title) {
    animation: bounceInDown 0.5s;
  }

  div {
    margin: 2em 2em 0.5em;
    white-space: nowrap;
    overflow-x: auto;
    width: 95%;

    span {
      color: $sub-color;
    }

    &::-webkit-scrollbar {
      height: 0.1em;
      background-color: #666;
    }

    &::-webkit-scrollbar-thumb {
      background: $white;
    }
  }

  &.from > div:not(.title),
  &.date > div:not(.title) {
    color: #ddd;
  }

  &.trash > div {
    color: $sub-color;
    border-color: $sub-color;

    &:not(.title) {
      font-style: italic;
    }
  }
}

div > div.title {
  color: $white;
  padding-bottom: 0.5em;
  border-bottom: 0.2em solid $white;
}

.upload {
  position: relative;
  float: left;
  left: 0;
  width: calc(20% - #{$col-padding});
  background: #111;
  z-index: 5;
}

.file {
  position: relative;
  float: left;
  width: calc(30% - #{$col-padding});
  z-index: 4;
}

.from {
  position: relative;
  float: left;
  width: calc(20% - #{$col-padding});
  background: $sub-color;
  z-index: 3;
}

.date {
  position: relative;
  float: left;
  width: calc(15% - #{$col-padding});
  z-index: 3;
}

.trash {
  position: relative;
  float: left;
  width: calc(15% - #{$col-padding});
  z-index: 3;
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}
