/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+c+objectivec+r+swift&plugins=show-language+command-line */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

@import '../base/vars';

code,
pre {
  font-family: $code-font;
  &[class*="language-"] {
    color: #f8f8f2;
    background: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    text-align: left;
    align-self: center;
    align-content: center;
    align-items: center;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
  &.block {
    background: rgba(0, 0, 0, 0.25);
    border-color: rgba(0, 0, 0, 0.15);
    @media screen and (max-width: $base-break) {
      font-size: 3.25vmin;
    }
  }
}

:not(pre) > code[class*="language-"] {
  background: #272822;
}

pre[class*="language-"] {
  background: rgb(26, 28, 34);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}
