<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127455966-1"></script>
<!-- If you would like to opt-out of analytics, please set `localStorage["noTrack"] = true` -->
<script>
  if (!localStorage.noTrack) {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127455966-1');
  }
</script>
