@font-face {
    font-family: 'Dejavu Sans Mono';
    src: url('https://cdn.rawgit.com/ayazhafiz/ayazhafiz.github.io/bfe0b507/dejavusansmono/DejaVuSansMono-webfont.eot');
    src: url('https://cdn.rawgit.com/ayazhafiz/ayazhafiz.github.io/bfe0b507/dejavusansmono/DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/ayazhafiz/ayazhafiz.github.io/bfe0b507/dejavusansmono/DejaVuSansMono-webfont.woff') format('woff'),
         url('https://cdn.rawgit.com/ayazhafiz/ayazhafiz.github.io/bfe0b507/dejavusansmono/DejaVuSansMono-webfont.ttf') format('truetype'),
         url('https://cdn.rawgit.com/ayazhafiz/ayazhafiz.github.io/bfe0b507/dejavusansmono/DejaVuSansMono-webfont.svg#dejavu_sans_monobook') format('svg');
    font-weight: normal;
    font-style: normal;
}